<h1>New genre</h1>

<% form_for(@genre) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :genre_name %><br />
    <%= f.text_field :genre_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', genres_path %>