<h1>Listing playlists_songs</h1>

<table>
  <tr>
    <th>Playlist</th>
    <th>Song</th>
  </tr>

<% @playlists_songs.each do |playlists_songs| %>
  <tr>
    <td><%=h playlists_songs.playlist_id %></td>
    <td><%=h playlists_songs.song_id %></td>
    <td><%= link_to 'Show', playlists_songs %></td>
    <td><%= link_to 'Edit', edit_playlists_songs_path(playlists_songs) %></td>
    <td><%= link_to 'Destroy', playlists_songs, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New playlists_songs', new_playlists_songs_path %>