<div class="comment">
	<img class="thumb" height="50" width="50" src=<%= feed.getUser.photo.url(:thumb)%>>
                   <span class="main_status_content">
                       <%=link_to_remote(feed.getUser.name,{:url =>'/users/show/'+feed.getUser.id.to_s,:update=>'main_content'}, :class=>"comment_name")%>
					</span>
					<span class="comment_desc">
					   <%=h feed.eventString %> 
                                           <%=link_to_remote(feed.objName,{:url =>feed.objURL,:update =>'main_content'})%> 
						<% if feed.action == "comment" %>
							by <%=link_to_remote(feed.creatorName,{:url =>'/users/show/'+feed.getCreator.id.to_s,:update =>'main_content'})%>

					</span>
					<span class="main">
						<%= feed.getObj.text %>
						<% end %>					</span>
                   <span class="main_status_details">
                       <%= time_elapsed_since(feed.created_at) %> 
					</span>
</div>
