<html>
<head>
  <%= stylesheet_link_tag 'general' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= stylesheet_link_tag 'jplayer.blue.monday.css' %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script language="javascript" type="text/javascript">
    $j = jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'ajaxify' %>
  <%= javascript_include_tag 'jquery.jplayer.min' %>
  <%= javascript_include_tag :defaults %>

</head>
<body>
<div id="main">
	<div id="app_header">
		<%= image_tag "logo.gif", :align=>"left" %>
		<div id="login_links">
			<% if current_user %>
			    <%= link_to_remote "Home", {:url=>root_path, :update=>'main_content'} %> |
				<%= link_to_remote "Edit Profile", {:url=>edit_user_path(:current), :update=>'main_content'} %> |
				<%= link_to "Logout", logout_path, :class => 'ajaxify' %>
			<% else %>
				<%= link_to_remote "Register", {:url=>signup_path, :update=>'main_content'} %> |
				<%= link_to_remote "Login", {:url=>login_path, :update=>'main_content'} %>
			<% end %>
		</div>
	</div>
	
	<div id="nav">
		<ul>
			<li>
				<%= link_to_remote "Popular Songs", {:url=>popular_songs_path(), :update => 'main_content'} %>
			</li>
			<li>
				<%= link_to_remote "Popular Playlists", {:url=>popular_playlists_path(), :update => 'main_content'} %>
			</li>
			<% if current_user %>
				<li>
					<%= link_to_remote "My Songs", {:url=>my_songs_path(), :update => 'main_content'} %>
				</li>
				<li>
					<%= link_to_remote "My Playlists", {:url=>my_playlists_path(), :update => 'main_content'} %>
				</li>
			<% end %>
			<li>
				<%= link_to_remote "Browse", {:url=>browse_path(), :update => 'main_content'} %>
			</li>
		</ul>
	</div>
	
	<div id="main_content">
		<%=yield%>
	</div>
	
</div>

<div id="persistent_player">
	<div class="jp-interface">
		<ul class="jp-controls">
			<li><a href="#" id="jplayer_play" class="jp-play" tabindex="1">play</a></li>
			<li><a href="#" id="jplayer_pause" class="jp-pause" tabindex="1">pause</a></li>
			<li><a href="#" id="jplayer_stop" class="jp-stop" tabindex="1">stop</a></li>
			<li><a href="#" id="jplayer_volume_min" class="jp-volume-min" tabindex="1">min volume</a></li>
			<li><a href="#" id="jplayer_volume_max" class="jp-volume-max" tabindex="1">max volume</a></li>
			<li><a href="#" id="jplayer_previous" class="jp-previous" tabindex="1">previous</a></li>
			<li><a href="#" id="jplayer_next" class="jp-next" tabindex="1">next</a></li>
		</ul>
		<div class="jp-progress">
			<div id="jplayer_load_bar" class="jp-load-bar">
				<div id="jplayer_play_bar" class="jp-play-bar"></div>
			</div>
		</div>
		<div id="jplayer_volume_bar" class="jp-volume-bar">
			<div id="jplayer_volume_bar_value" class="jp-volume-bar-value"></div>
		</div>
		<div id="jplayer_play_time" class="jp-play-time"></div>
		<div id="jplayer_total_time" class="jp-total-time"></div>
	</div>
</div>

</body>
</html>s