<html>
<head>
<title>Jukebox</title>
  <%= stylesheet_link_tag 'general' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= stylesheet_link_tag 'jplayer.blue.monday' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.jplayer.min' %>
    <script type="text/javascript">
        jQuery.noConflict();
        var $j = jQuery;
    </script>
  <%= javascript_include_tag :defaults %>
  
  
<link rel="stylesheet" href="css/lightbox.css" type="text/css" />
<script>
function clientSideInclude(id, url) {
  var req = false;
  // For Safari, Firefox, and other non-MS browsers
  if (window.XMLHttpRequest) {
    try {
      req = new XMLHttpRequest();
    } catch (e) {
      req = false;
    }
  } else if (window.ActiveXObject) {
    // For Internet Explorer on Windows
    try {
      req = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        req = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e) {
        req = false;
      }
    }
  }
 var element = document.getElementById(id);
 if (!element) {
  alert("Bad id " + id + 
   "passed to clientSideInclude." +
   "You need a div or span element " +
   "with this id in your page.");
  return;
 }
  if (req) {
    // Synchronous request, wait till we have it all
    req.open('GET', url, false);
    req.send(null);
    element.innerHTML = req.responseText;
  } else {
    element.innerHTML =
   "Sorry, your browser does not support " +
      "XMLHTTPRequest objects. This page requires " +
      "Internet Explorer 5 or better for Windows, " +
      "or Firefox for any system, or Safari. Other " +
      "compatible browsers may also exist.";
  }
}
</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="scripts/lightbox.js"></script>
<script type="text/javascript">
Array.prototype.remove = function(from, to) {
  var rest = this.slice((to || from) + 1 || this.length);
  this.length = from < 0 ? this.length + from : from;
  return this.push.apply(this, rest);
};
var lbox;
$j(document).ready(function(){
  FB.init({
    appId  : '167385853296710',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
	// Local copy of jQuery selectors, for performance.
	var jpPlayTime = $j("#jplayer_play_time");
	var jpTotalTime = $j("#jplayer_total_time");

	$j("#jquery_jplayer").jPlayer({
		ready: function() {
			displayPlayList();
			playListInit(false); // Parameter is a boolean for autoplay.
		},
		oggSupport: false
	})
	.jPlayer("onProgressChange", function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) {
		jpPlayTime.text($j.jPlayer.convertTime(playedTime));
		jpTotalTime.text($j.jPlayer.convertTime(totalTime));
	})
	.jPlayer("onSoundComplete", function() {
		playListNext();
	});

	$j("#jplayer_previous").click( function() {
		playListPrev();
		$(this).blur();
		return false;
	});

	$j("#jplayer_next").click( function() {
		playListNext();
		$(this).blur();
		return false;
	});
	reSize();
	window.onresize = reSize;
	<% if @urli %>
		<%=@urli%>
	<%end%>
});

	var playItem = 0;

	var myPlayList = [];

	function reSize () {
	  var IpopLeft = (document.body.clientWidth - document.getElementById('persistent_player').offsetWidth)/2;
      document.getElementById('persistent_player').style.left = IpopLeft + document.body.scrollLeft;
	}
	
	function displayPlayList() {
		$j("#jplayer_playlist ul").empty();
		for (i=0; i < myPlayList.length; i++) {
			if (myPlayList[i].name.length > 30) {
				var name = myPlayList[i].name.substring(0,27)+"...";
			} else {
				var name = myPlayList[i].name;
			}
			var listItem = (i == myPlayList.length-1) ? "<li class='jplayer_playlist_item_last'>" : "<li>";
			listItem += "<a href='#' id='jplayer_playlist_item_"+i+"' tabindex='1'>"+ name +"</a>";
			listItem += "<div style='display:inline; float:right; padding-left:5px'>";
			listItem += "<a href='#' id='jplayer_playlist_item_down"+i+"' tabindex='1'><img style='padding-right:5px' src='images/playlist-down.gif'></a>";
			listItem += "<a href='#' id='jplayer_playlist_item_up"+i+"' tabindex='1'><img style='padding-right:5px' src='images/playlist-up.gif'></a>";
			listItem += "<a href='#' id='jplayer_playlist_item_del"+i+"' tabindex='1'><img style='padding-right:5px' width='13px' height='15px' src='images/icon_trash.gif'></a>";
			listItem += "</div></li>";
			$j("#jplayer_playlist ul").append(listItem);
			$j("#jplayer_playlist_item_"+playItem).addClass("jplayer_playlist_current").parent().addClass("jplayer_playlist_current");
			$j("#jplayer_playlist_item_"+i).data( "index", i ).click( function() {
				var index = $j(this).data("index");
				if (playItem != index) {
					playListChange( index );
				} else {
					$j("#jquery_jplayer").jPlayer("play");
				}
				$j(this).blur();
				return false;
			});
			$j("#jplayer_playlist_item_down"+i).data( "index", i ).click( function() {
			    var index = $j(this).data("index");
				if(myPlayList.length > 1 && index < myPlayList.length-1) {
					var tempIT = myPlayList[index+1];
					myPlayList[index+1] = myPlayList[index];
					myPlayList[index] = tempIT;
					if(index == playItem) {
						playItem = index+1;
					}
					displayPlayList();
				}
				return false;
			});
			$j("#jplayer_playlist_item_up"+i).data( "index", i ).click( function() {
				var index = $j(this).data("index");
				if(myPlayList.length > 1 && index > 0) {
					var tempIT = myPlayList[index-1];
					myPlayList[index-1] = myPlayList[index];
					myPlayList[index] = tempIT;
					if(index == playItem) {
						playItem = index-1;
					}
					displayPlayList();
				}
				return false;
			});
			$j("#jplayer_playlist_item_del"+i).data( "index", i ).click( function() {
				var index = $j(this).data("index");

				if(myPlayList.length > index && index >= 0) {
					myPlayList.splice(index,1);
					if(index == playItem) {
						$j("#jquery_jplayer").jPlayer("stop");
						if (myPlayList.length > 0) {
							playItem = (index+1 < myPlayList.length) ? index+1 : 0;
						}
					} else if (playItem >= myPlayList.length) {
						playItem = playItem -1;
					}
					displayPlayList();
				}
				return false;
			});
		}
		var nextIndex = (playItem+1 < myPlayList.length) ? playItem+1 : 0;
	}
	function playListInit(autoplay) {
		if(autoplay) {
			playListChange( playItem );
		} else {
			playListConfig( playItem );
		}
	}

	function playListConfig( index ) {
		$j("#jplayer_playlist_item_"+playItem).removeClass("jplayer_playlist_current").parent().removeClass("jplayer_playlist_current");
		$j("#jplayer_playlist_item_"+index).addClass("jplayer_playlist_current").parent().addClass("jplayer_playlist_current");
		//$('current').innerHTML = 'Currently Playing: ' + myPlayList[index].name;
		playItem = index;
		var nextIndex = (playItem+1 < myPlayList.length) ? playItem+1 : 0;
    //$('nextP').innerHTML = 'Next: ' + myPlayList[nextIndex].name;
		$j("#jquery_jplayer").jPlayer("setFile", myPlayList[playItem].mp3);
	}

	function playListChange( index ) {
		playListConfig( index );
		$j("#jquery_jplayer").jPlayer("play");
	}

	function playListNext() {
		var index = (playItem+1 < myPlayList.length) ? playItem+1 : 0;
		playListChange( index );
	}

	function playListPrev() {
		var index = (playItem-1 >= 0) ? playItem-1 : myPlayList.length-1;
		playListChange( index );
	}
	
	function playListAdd(nameN, urlU) {
		myPlayList.push({name:nameN,mp3:urlU});
    displayPlayList() 
	}
	
	function playListAddAndPlay(nameN,urlU){
		myPlayList.push({name:nameN,mp3:urlU});
    displayPlayList()
		playListChange(myPlayList.length-1);
	}
    function processInfoRAT(response){
    info = $('main_content').innerHtml = response.responseText;
	}

</script>


  <%= content_tag :meta, "", :property=>"og:title", :content=>@title, :id=>"facebook_title"  %>
  <%= content_tag :meta, "", :property=>"og:type",  :content=>"song"  %>
  <%= content_tag :meta, "", :property=>"og:image", :content=>""  %>
  <%= content_tag :meta, "", :property=>"og:url", :content=>@urlfb, :id=>"facebook_url"  %>
  <%= content_tag :meta, "", :property=>"og:site_name", :content=>"Jukebox"  %>
  <%= content_tag :meta, "", :property=>"fb:app_id", :content=>"167385853296710"  %>

</head>
<body bgcolor="#2E2E2E">
<div id="main" style="margin-left:auto; margin-right:auto; background-color:white">
	<div id="app_header">
		<%= image_tag "logo.gif", :align=>"left" %>
		<div id="login_links">
			<%= render(:partial => '/index/login_links', :locals => { :current_user => current_user }) %>
		</div>
	</div>
	
	<div id="nav">
      <%= render(:partial => '/index/nav', :locals => { :current_user => current_user }) %>
	</div>

	<div id="main_content">
    <% if current_user %>
       <%= render(:partial => '/index/auth_home', :locals => { :current_user => current_user }) %>
    <% else %>
       <%= render(:partial => '/index/no_auth_home') %>
    <% end %>
		<%=yield%>
	</div>
	<div style="height:100px;background-color:white;"></div>
</div>


<div id="persistent_player" style="margin-left:auto; margin-right:auto;">
  <div id="jquery_jplayer"></div>
  <div class="jp-playlist-player">
    <div class="jp-interface" style="float:left">
      <ul class="jp-controls">
        <li><a href="#" id="jplayer_play" class="jp-play" tabindex="1">play</a></li>
        <li><a href="#" id="jplayer_pause" class="jp-pause" tabindex="1">pause</a></li>
        <li><a href="#" id="jplayer_stop" class="jp-stop" tabindex="1">stop</a></li>
        <li><a href="#" id="jplayer_volume_min" class="jp-volume-min" tabindex="1">min volume</a></li>
        <li><a href="#" id="jplayer_volume_max" class="jp-volume-max" tabindex="1">max volume</a></li>
        <li><a href="#" id="jplayer_previous" class="jp-previous" tabindex="1">previous</a></li>
        <li><a href="#" id="jplayer_next" class="jp-next" tabindex="1">next</a></li>
      </ul>
      <div class="jp-progress">
        <div id="jplayer_load_bar" class="jp-load-bar">
          <div id="jplayer_play_bar" class="jp-play-bar"></div>
        </div>
      </div>
      <div id="jplayer_volume_bar" class="jp-volume-bar">
        <div id="jplayer_volume_bar_value" class="jp-volume-bar-value"></div>
      </div>
      <div id="jplayer_play_time" class="jp-play-time"></div>
      <div id="jplayer_total_time" class="jp-total-time"></div>
    </div>
    <div id="jplayer_playlist" class="jp-playlist" style="float:right">
    <ul>
    </ul>
    </div>
	<!--<div id="status_play">   <div id="current">Currently Playing:</div><div id="nextP">Next:</div></div>-->
  </div>
</div>
<div id="fb-root"></div>
</body>
</html>
