
<p><label for="name">Full Name:</label><br/>
<%= form.text_field :name %></p>

<p><label for="bio">Bio:</label><br/>
<%= form.text_area :bio %></p>
<p><%= form.label :login %><br/>
<%= form.text_field :login %></p>

<p><label for="email">Email:</label><br/>
<%= form.text_field :email %></p>

<p><label for="password">Password:</label><br/>
<%= form.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password:</label><br/>
<%= form.password_field :password_confirmation %></p>

<p>Select a Profile Picture<br/> 
  <%= form.file_field :photo %></p>

<p><%= submit_tag 'Register' %></p>

