
<div class="profile" id="name_and_pic">
  <div style="width:800px;height:150px;background-image:url('<%=@user.photo.url%>');"></div>
  <h2><%= @user.name %>
  <div style="display:inline; float:right;">
    <%=link_to "<span>Become a Fan</span>", '/follow/new/'+@user.id.to_s, :class =>"lbOn button", :onClick=> "lbox = new lightbox(this); lbox.displayLightbox('block'); return false;" %>
  <% if @current_user && @user.id == @current_user.id %>
    <%=link_to_remote '<span>Edit My Profile</span>', {:url=>'/users/edit/'+@user.id.to_s, :update=>'main_content'}, :class=>"button" %>
  <%end%>
  </div>
  </h2>  
  
</div>
<div class="profile" id="info">
  <%= @user.bio %>
</div>
<div class="profile" id="songs">
<span> 
  <a href="#" onclick="var listElementStyle=document.getElementById('song_list').style; var buttonSource=document.getElementById('song_expand'); if(listElementStyle.display=='none'){Effect.Appear('song_list', {duration:0}); buttonSource.setAttribute('src','images/toggleDLminus.gif');} else {Effect.Fade('song_list',{duration:0}).style; buttonSource.setAttribute('src','images/toggleDLplus.gif');}"> <img id="song_expand" style="border:none;float:left" src="images/toggleDLplus.gif"></img></a>
<div class="section_title"><%="Songs by "+@user.name%></div> 
</span>

<% if not @songs.nil? %>
  <ul style="display:none" class="music_list" id="song_list">
    <% @songs.each do |song| %>
      <li class="song_element">
	<%=link_to_remote song.name, {:url=>'/songs/show/'+song.id.to_s, :update=>'main_content'}%><%=song.makePlayer%>
      </li>
    <% end %>
  </ul>
<%end%>
<% if @current_user && @user.id == @current_user.id %>
    <p><%=link_to_remote 'Add a song', {:url=>'/Songs/new', :update=>'main_content'} %>
<%end%>
</div>
</p>
<div class="profile" id="playlists">
<span>
  <a href="#" onclick="var listElementStyle=document.getElementById('pl_list').style; var buttonSource=document.getElementById('pl_expand'); if(listElementStyle.display=='none'){Effect.Appear('pl_list', {duration:0}); buttonSource.setAttribute('src','images/toggleDLminus.gif');} else {Effect.Fade('pl_list',{duration:0}).style; buttonSource.setAttribute('src','images/toggleDLplus.gif');}"> <img id="pl_expand" style="border:none;float:left" src="images/toggleDLplus.gif"></img></a>
<div class="section_title"><%="Playlists by "+@user.name%></div>
</span>
<% if @current_user && @user.id == @current_user.id %>
<p><%=link_to_remote 'Make a new playlist', {:url=>'/Playlists/new', :update=>'main_content'}%></p>
<%end%>
<% if not @playlists.nil? %>
<ul class="music_list" id="pl_list" style="display:none">
  <% @playlists.each do |pl| %>
    <li class="pl_element">
		<%=link_to_remote pl.name, {:url=>'/Playlists/show/'+pl.id.to_s, :update=>'main_content'}%>
	</li>
  <% end %>
</ul>
<%end%>

<h2>Artists <%=h @user.name %> is a fan of: </h2>
<div id="subscribers">
  <%if @user.subscribers.size == 0 %>
     <p><%= @user.name %> has not become a fan of anyone yet.</p>
   <% else %>
   <% @disp_users = @user.subscribers[0..[@user.subscribers.size-1,10].min] %>
   <%= render(:partial => '/users/user_dump', :locals => {:disp_users => @disp_users, :mode => :subscribers}) %>
   <%= link_to_remote "<span>Show All</span>", {:url=>'/users/subscribers/'+@user.id.to_s, :update=>'subscribers', :method=>'get'}, :class=>"button"  %>
 </br></br>
   <%end%>
</div>

<h2>Fans of <%=h @user.name %></h2>
<div id="followed">
  <%if @user.followed.size == 0 %>
     <p>Nobody has become a fan of <%= @user.name %> yet.</p>
   <% else %>
   <% @disp_users = @user.followed[0..[@user.followed.size-1,10].min] %>
   <%= render(:partial => '/users/user_dump', :locals => {:disp_users => @disp_users, :mode => :followed}) %>
   <%= link_to_remote "<span>Show All</span>", {:url=>'/users/followed/'+@user.id.to_s, :update=>'followed', :method=>'get'}, :class=>"button"  %></br></br>
   <%end%>
 
</div>


<div class="profile" id="bookmarks">
<h2><%=@user.name+'\'s Bookmarks:' %></h2>
<% if not @bookmarks.nil? %>
<ul class="music_list" id="bm_list">
  <% @bookmarks.each do |bk| %>
   <div class="bookmark_element">
    <li class="pl_element">
		<%=link_to_remote bk.playlist.name, {:url=>'/Playlists/show/'+bk.playlist.id.to_s, :update=>'main_content'}%>
	</li> </div>
  <% end %>
</ul>
<%end%>
</div>

