
<div class="profile" id="name_and_pic">
<img src="<%=@user.photo.url%>" style="width: 800px;"/>
<h1><%= @user.name %><h1>
</div>
<div class="profile" id="info">
<h3>About</h3>
<p><%= @user.bio %></p>
<%= link_to_remote "<span>Edit</span>", {:url=>edit_user_path(:edit), :update=>'main_content'},:class=>"button"  %>
</br></br>
</div>
<div class="profile" id="songs">
<h3><%="Songs by "+@user.name%></h3>
<% if @current_user && @user.id == @current_user.id %>
<p><%=link_to_remote '<span>Add a song</span>', {:url=>'/Songs/new', :update=>'main_content'}, :class =>"button"%>
</br></br>
<%end%>

<% if not @songs.nil? %>
<ul class="music_list" id="song_list">
  <% @songs.each do |song| %>
    <li class="song_element">
		<%=link_to_remote song.name, {:url=>'/songs/show/'+song.id.to_s, :update=>'main_content'}%><%=song.makePlayer%>
	</li>
  <% end %>
</ul>
<%end%>
</div>
<div class="profile" id="playlists">
<h3><%="Playlists by "+@user.name%></h3>
<% if @current_user && @user.id == @current_user.id %>
<p><%=link_to_remote '<span>Make a new playlist</span>', {:url=>'/Playlists/new', :update=>'main_content'}, :class =>"button"%></br></br></p>
<%end%>
<% if not @playlists.nil? %>
<ul class="music_list" id="pl_list">
  <% @playlists.each do |pl| %>
    <li class="pl_element">
		<%=link_to_remote pl.name, {:url=>'/Playlists/show/'+pl.id.to_s, :update=>'main_content'}%>
	</li>
  <% end %>
</ul>
<%end%>

<div class="profile" id="bookmarks">
<h3><%=@user.name+'\'s Bookmarks:' %></h3>
<% if not @bookmarks.nil? %>
<ul class="music_list" id="bm_list">
  <% @bookmarks.each do |bk| %>
   <div class="bookmark_element">
    <li class="pl_element">
		<%=link_to_remote bk.playlist.name, {:url=>'/Playlists/show/'+bk.playlist.id.to_s, :update=>'main_content'}%>
	</li> </div>
  <% end %>
</ul>
<%end%>
</div>
