<h1>Update Your Information</h1>

<% form_for @user, :url => '/Users/update/'+@user.id.to_s, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

<p><%= f.label :bio , "Information about yourself"%><br/>
<%= f.text_area :bio %></p>

<p>Select a Profile Picture<br/> 
  <%= f.file_field :photo %></p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %>
