
<div class="profile" id="name_and_pic">
<img src="<%=@user.photo.url%>" style="width: 800px;"/>
<p id="name"><%= @user.name %></p><br>
</div>
<div class="profile" id="info">
<%= @user.bio %>
</div>
<div class="profile" id="songs">
<p class="section_title"><%="Songs by "+@user.name%></p>
<% if @user.id == @current_user.id %>
<p><%=link_to_remote 'Add a song', {:url=>'/Songs/new', :update=>'main_content'} %>
<%end%>

<% if not @songs.nil? %>
<ul class="music_list" id="song_list">
  <% @songs.each do |song| %>
    <li class="song_element">
		<%=link_to_remote song.name, {:url=>'/songs/show/'+song.id.to_s, :update=>'main_content'}%><%=song.makePlayer%>
	</li>
  <% end %>
</ul>
<%end%>
</div>
<div class="profile" id="playlists">
<p class="section_title"><%="Playlists by "+@user.name%></p>
<% if @user.id == @current_user.id %>
<p><%=link_to_remote 'Make a new playlist', {:url=>'/Playlists/new', :update=>'main_content'}%></p>
<%end%>
<% if not @playlists.nil? %>
<ul class="music_list" id="pl_list">
  <% @playlists.each do |pl| %>
    <li class="pl_element">
		<%=link_to_remote pl.name, {:url=>'/Playlists/show/'+pl.id.to_s, :update=>'main_content'}%>
	</li>
  <% end %>
</ul>
<%end%>

<div class="profile" id="bookmarks">
<p class="section_title"><%=@user.name+'\'s Bookmarks:' %></p>
<% if not @bookmarks.nil? %>
<ul class="music_list" id="bm_list">
  <% @bookmarks.each do |bk| %>
   <div class="bookmark_element">
    <li class="pl_element">
		<%=link_to_remote bk.playlist.name, {:url=>'/Playlists/show/'+bk.playlist.id.to_s, :update=>'main_content'}%>
	</li> </div>
  <% end %>
</ul>
<%end%>
</div>
