<h1>New Rating for "<%=h @song.name %>"</h1>

<% form_remote_for(@song_rating, :url => "/rating/song/create/#{@song.id.to_s}", :update=>'main_content')  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Rating %><br />
    <%= f.select :rating, options_for_select([["1",1],["2",2],["3",3],["4",4],["5",5]]) %>
  </p>
  
<p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<%= link_to_remote 'Back', :url=>songs_path, :update=>'main_content' %>
