<% form_remote_for(@song, :update=>'main_content') do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :album %><br />
    <%= f.text_field :album %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= collection_select(:song, :genre_id, Genre.find(:all, :order=>:genre_name), :id, :genre_name) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
