<h1>Listing songs</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Album</th>
    <th>Length</th>
    <th>Genre</th>
    <th>Description</th>
    <th>Rating</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%=h song.source %></td>
    <td><%=h song.album %></td>
    <td><%=h song.length %></td>
    <td><%=h song.genre %></td>
    <td><%=h song.description %></td>
    <td><%=h song.rating %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New song', new_song_path %>