<h2> My Songs 
<div style="display:inline; float:right;"><%= link_to_remote "<span>Add a new song</span>", {:url=>{:controller=>'songs',:action=>'new'}, :update=>'main_content'}, :class =>"button" %></div>
</h2>
<% content_tag :div, :id=>"songs", :class=>"table_con" do -%>
  <% if @songs.size > 0 %>
	<table class="lister">
		<tr class="head">
		<th>Song Name</th>
		<th>Album</th>
		<th>Genre</th>
		<th>Rating</th>
		<th></th>
		</tr>
		<% @class = 'o' %>
		<% @songs.each do |s| %>
			<tr class="<%=@class%>">
			<td class="name">
			<%=link_to_remote("#{s.name}", :url=>s, :method=>'get', :update=>'main_content')%>
			</td>
			<td class="att">
			<%=s.album%>
			</td>
			<td class="att">
			<%=s.genre%>
			</td>
			<td class="att">
			<%= s.ratingString %>
			</td>
			<td class="control" style="width:100px;">
			<%=s.makePlayer%>
			</td>
			</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
		<% end %>
	</table>
  <% else %>
    You haven't uploaded any songs yet!
  <% end %>
	  
<% end %>
