<h1>New song</h1>

<% form_for @song, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>

  <p>
  <p>Select a song to upload:</p>
  <p> <%= f.file_field :song %> </p>

    <p>
    <%= f.label :genre %><br />
    <%= collection_select(:song, :genre_id, Genre.all, :id, :genre_name) %>
  </p>

     <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>If your file contains title and album information, you may skip these fields.</p>
  <p>
        <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
    <%= f.label :album %><br />
    <%= f.text_field :album %>
  </p>
  

<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', account_path %>
