<h2> Popular Songs </h2>
<table class="lister">
<tr class="head">
	<th>Song Name</th>
	<th>Genre</th>
	<th>Rating</th>
	<th>Artist</th>
	<th></th>
</tr>
<% @class = 'o' %>
<% for i in (0..[@songs.size-1,20].min) do %>
<tr class="<%=@class%>">
<td class="name">
<%=link_to_remote("#{@songs[i].name}", :url=>@songs[i], :method=>'get', :update=>'main_content')%>
</td>
<td class="att">
<%=@songs[i].genre%>
</td>
<td class="att">
<%= "%.2f" % (@songs[i].rating ? @songs[i].rating : 0)%>
</td>
<td class="att">
<%=link_to_remote("#{@songs[i].users[0].login}", :url=>@songs[i].users[0], :method=>'get', :update=>'main_content')%>
</td>
<td class="control">
<%=@songs[i].makePlayer%>
</td>
</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
<% end %>
</table>
