<h1> Popular Songs </h1>
<table class="lister">
<tr>
	<th>Song Name</th>
	<th>Genre</th>
	<th>Rating</th>
	<th>User</th>
	<th></th>
</tr>
<% for i in (0..[@songs.size-1,20].min) do %>
<tr>
<td class="name">
<%=link_to_remote("#{@songs[i].name}", :url=>@songs[i], :method=>'get', :update=>'main_content')%>
</td>
<td class="att">
<%=@songs[i].genre%>
</td>
<td class="att">
<%=@songs[i].rating%>
</td>
<td class="att">
<%=link_to_remote("#{@songs[i].users[0].login}", :url=>@songs[i].users[0], :method=>'get', :update=>'main_content')%>
</td>
<td class="control">
<%=@songs[i].makePlayer%>
</td>
</tr>
<% end %>
</table>
