<%= javascript_tag "document.getElementById('facebook_title').setAttribute('content', '#{@song.name}'); document.getElementById('facebook_url').setAttribute('content', '#{request.url}')" %>

<h2 class="songTitle"><%= @song.name %></h2>
<%= @song.makePlayer %>
<p class="songInformation"><h3>Song Information</h3>
<p>Album: <%= @song.album %></p>
<p>Description: <%= @song.description %></p></p>
<% if @auth %>
<%=link_to_remote "<span>Edit</span>", {:url=>"/songs/edit/"+@song.id.to_s, :update=>'main_content'}, :class =>"button" %>
<%=link_to_remote "<span>Delete</span>", {:url=>"/songs/delete/"+@song.id.to_s, :update=>'main_content'}, :class =>"button"  %>
<% end %>
<%=link_to "<span>Add to Playlist</span>", '/playlists/addsong/'+@song.id.to_s, :class =>"lbOn button", :onClick=> "lbox = new lightbox(this); lbox.displayLightbox('block'); return false;" %>
<%=link_to "<span>Rate</span>", "/rating/song/new/"+@song.id.to_s, :class =>"lbOn button", :onClick=> "lbox = new lightbox(this); lbox.displayLightbox('block'); return false;" %>
</br></br>
<h3>Rating:</h3>
<%= @song.ratingString %>
<script>
 $j('meta[name=og:title]').attr('content', '<%=@song.name%>');
 
</script>
<%= content_tag :iframe, "", facebook_like(@urlif) %>
<!-- <%= content_tag :iframe, "", facebook_box(request.url) %> -->

<h3>Comments</h3>
<% form_remote_for(:song_comment, :url =>'comment/song/create/'+@song.id.to_s+'.js') do |form| %>
  <p>
    <label for="text">Leave A Comment:</label></br>
    <%= form.text_area(:text,:cols=>"60", :rows=>"2") %>
    <%= submit_tag "Post" %>
  </p>
<% end %>
<ul class="comments">
<div id="song_comments">
<% if not @comments.nil? %>
  <% @comments.each do |comment| %>
    <%= render(:partial => '/song_comment/comment', :object => comment) %>
  <% end %>
<%end%>
 </ul>
</div>
