<h2 class="songTitle"><%= @song.name %></h2>
<%= @song.makePlayer %>
<p class="songDescription"><%= @song.description %></p>
<% if @auth %>
<a href="/songs/delete/<%=@song.id%>">Delete</a> || 
<% end %>
<a href="/playlists/addsong/<%=@song.id%>">Add to Playlist</a> || <a href="/comment/song/new/<%=@song.id%>">Comment</a> || <a href="/rating/song/new/<%=@song.id%>">Rate</a>
<h2>Rating:</h2>
<%= @song.ratingString %>
<h2>Comments</h2>
<% if not @comments.nil? %>
  <% @comments.each do |comment| %>
    <div class="comment">
    <li class="comment_element"><%=link_to(comment.user.name,'/users/show/'+comment.user.id.to_s)%>
                             <p><%=h comment.text %></p></li>
    </div>
  <% end %>
</ul>
<%end%>
