<p>
  <b>Source:</b>
  <%=h @song.source %>
</p>

<p>
  <b>Album:</b>
  <%=h @song.album %>
</p>

<p>
  <b>Length:</b>
  <%=h @song.length %>
</p>

<p>
  <b>Genre:</b>
  <%=h @song.genre %>
</p>

<p>
  <b>Description:</b>
  <%=h @song.description %>
</p>

<p>
  <b>Rating:</b>
  <%=h @song.rating %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>