<h2> Genre: <%=@genre%> </h2>
<% i = 0 %>
<div class="table_con">
<% if @songs.size > 0 %>
	<table class="lister">
		<tr class="head">
		<th>Song Name</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Genre</th>
		<th>Rating</th>
		<th></th>
		</tr>
		<% @class = 'o' %>
		<% @songs.each do |s| %>
			<tr class="<%=@class%>">
			<td class="name">
			<%=link_to_remote("#{s.name}", :url=>s, :method=>'get', :update=>'main_content')%>
			</td>
<td class="att">
<%=link_to_remote("#{s.users[0].name}", :url=>s.users[0], :method=>'get', :update=>'main_content')%>
</td>
			<td class="att">
			<%=s.album%>
			</td>
			<td class="att">
			<%=s.genre%>
			</td>
			<td class="att">
			<%=s.rating%>
			</td>
			<td class="control">
			<%=s.makePlayer%>
			</td>
			</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
		<% end %>
	</table>
  <% else %>
    There are no songs in this genre.
  <% end %>
</div>
</p>
