<h1>Listing playlists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Rating</th>
    <th>Description</th>
  </tr>

<% @playlists.each do |playlist| %>
  <tr>
    <td><%=h playlist.name %></td>
    <td><%=h playlist.user_id %></td>
    <td><%=h playlist.rating %></td>
    <td><%=h playlist.description %></td>
    <td><%= link_to 'Show', playlist %></td>
    <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
    <td><%= link_to 'Destroy', playlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New playlist', new_playlist_path %>