<h2> My Playlists </h2>
<% content_tag :div, :id=>"playlists" do -%>
  <% if @playlists.size > 0 %>
	<table class="lister">
		<tr class="head">
		<th>Playlist Name</th>
		<th>Rating</th>
		<th></th>
		</tr>
<% @class = 'o' %>
		<% @playlists.each do |s| %>
			<tr class="<%=@class%>">
			<td class="name">
			<%=link_to_remote("#{s.name}", :url=>s, :method=>'get', :update=>'main_content')%>
			</td>
			<td class="att">
			<%= "%.2f" % (s.rating ? s.rating : 0) %>
			</td>
			<td class="control">
			<%=s.renderRow%>
			</td>
			</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
		<% end %>
	</table>
  <% else %>
    You haven't created any playlists yet!
  <% end %>
	  <div><%= link_to_remote "Add new playlist", {:url=>{:controller=>'playlists',:action=>'new'},:update=>'main_content'} %></div>
<% end %>
