<h2>New playlist</h2>

<% form_remote_for(@playlist, :update=>'main_content')  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to_remote 'Back', :url=>account_path, :update=>'main_content' %>
