<h2> Popular Playlists </h2>
<table class="lister">
<tr class="head">
	<th>Playlist Name</th>
	<th>Rating</th>
	<th>Artist</th>
	<th></th>
</tr>
<% @class = 'o' %>
<% for i in (0..[@playlists.size-1,20].min) do %>
<tr class="<%=@class%>">
<td class="name">
<%=link_to_remote("#{@playlists[i].name}", :url=>@playlists[i], :method=>'get', :update=>'main_content')%>
</td>
<td class="att">
<%= "%.2f" % (@playlists[i].rating ? @playlists[i].rating : 0) %>
</td>
<td class="att">
<%=link_to_remote("#{@playlists[i].user.login}", :url=>@playlists[i].user, :method=>'get', :update=>'main_content')%>
</td>
<td class="control">
<%=@playlists[i].renderRow%>
</td>
</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
<% end %>
</table>

