<h2> Popular Playlists </h2>
<table class="lister">
<tr class="head">
	<th>Playlist Name</th>
	<th>Artist</th>
	<th>Rating</th>
	<th></th>
</tr>
<% @class = 'o' %>
<% @playlists.each do |p| %>
<tr class="<%=@class%>">
<td class="name">
<%=link_to_remote("#{p.name}", :url=>p, :method=>'get', :update=>'main_content')%>
</td>
<td class="att">
<%=link_to_remote("#{p.user.name}", :url=>p.user, :method=>'get', :update=>'main_content')%>
</td>
<td class="att">
<%= p.ratingString %>
</td>
<td class="control">
<%=p.renderRow%>
</td>
</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
<% end %>
</table>

