<%= javascript_tag "document.getElementById('facebook_title').setAttribute('content', '#{@playlist.name}'); document.getElementById('facebook_url').setAttribute('content', '#{request.url}')" %>

<h2><%=@playlist.name%></h2><%=@playlist.renderRow%>
<p><%=@playlist.description%></p>
<div class="table_con">
<% if @songs.size > 0 %>
	<table class="lister">
		<tr class="head">
		<th>Song Name</th>
		<th>Genre</th>
		<th>Artist</th>
		<th>Rating</th>
		<th></th>
		</tr>
		<% @class = 'o' %>
		<% @songs.each do |s| %>
			<tr class="<%=@class%>">
			<td class="name">
			<%=link_to_remote("#{s.name}", :url=>s, :method=>'get', :update=>'main_content')%>
			</td>
			<td class="att">
			<%=s.genre%>
			</td>
<td class="att">
<%=link_to_remote("#{s.users[0].name}", :url=>s.users[0], :method=>'get', :update=>'main_content')%>
</td>
			<td class="att">
			<%= s.ratingString %>
			</td>
			<td class="control">
			<%=s.makePlayer%>
			</td>
			</tr>
			<%if @class=='o'%>
				<% @class='e' %>
			<% else %>
				<% @class='o' %>
			<% end %>
		<% end %>
	</table>
  <% else %>
    This playlist does not contain any songs yet.
  <% end %>
 </div>
<% if @current_user && @playlist.user_id == @current_user.id %>
<%=link_to_remote "<span>Delete</span>", {:url=>"/playlists/delete/"+@playlist.id.to_s, :update=>'main_content'}, :class =>"button" %>
<% end %>
<%=link_to_remote "<span>Bookmark</span>", {:url=>"/bookmark/create/"+@playlist.id.to_s, :update=>'main_content'}, :class =>"button" %>
<%=link_to "<span>Rate</span>", "/rating/playlist/new/"+@playlist.id.to_s, :class =>"lbOn button", :onClick=> "lbox = new lightbox(this); lbox.displayLightbox('block'); return false;" %>
<%= content_tag :iframe, "", facebook_like(@urlif) %>
<h2>Rating:</h2>
<%= @playlist.ratingString %>

<!-- <%= content_tag :iframe, "", facebook_box(request.url) %> -->

<h3>Comments</h3>
<% form_remote_for(:playlist_comment, :url =>'comment/playlist/create/'+@playlist.id.to_s+'.js') do |form| %>
  <p>
    <label for="text">Leave A Comment:</label></br>
    <%= form.text_area(:text,:cols=>"60", :rows=>"2") %>
    <%= submit_tag "Post" %>
  </p>
<% end %>
<ul>
<div id="playlist_comments">
<% if not @comments.nil? %>
  <% @comments.each do |comment| %>
    <%= render(:partial => '/playlist_comment/comment', :object => comment) %>
  <% end %>
<%end%>
 </ul>
</div>
