<%= javascript_tag "document.getElementById('facebook_title').setAttribute('content', '#{@playlist.name}'); document.getElementById('facebook_url').setAttribute('content', '#{request.url}')" %>

<h2><%=@playlist.name%></h2><%=@playlist.renderRow%>
<p><%=@playlist.description%></p>
<% if @songs.size > 0 %>
	<table class="lister">
		<tr>
		<th>Song Name</th>
		<th>Genre</th>
		<th>Rating</th>
		<th></th>
		</tr>
		<% @songs.each do |s| %>
			<tr>
			<td class="name">
			<%=link_to_remote("#{s.name}", :url=>s, :method=>'get', :update=>'main_content')%>
			</td>
			<td class="att">
			<%=s.genre%>
			</td>
			<td class="att">
			<%= "%.2f" % (s.rating ? s.rating : 0)%>
			</td>
			<td class="control">
			<%=s.makePlayer%>
			</td>
			</tr>
		<% end %>
	</table>
  <% else %>
    This playlist does not contain any songs yet.
  <% end %>
<% if @current_user && @playlist.user_id == @current_user.id %>
<%=link_to_remote "<span>Delete</span>", {:url=>"/playlists/delete/"+@playlist.id.to_s, :update=>'main_content'}, :class =>"button" %>
<% end %>
<%=link_to_remote "<span>Bookmark</span>", {:url=>"/bookmark/create/"+@playlist.id.to_s, :update=>'main_content'}, :class =>"button" %>
</br></br>
<h2>Rating:</h2>
<%= @playlist.ratingString %>

<%= content_tag :iframe, "", facebook_like(request.url) %>

<!-- <%= content_tag :iframe, "", facebook_box(request.url) %> -->

<h3>Comments</h3>
<% form_remote_for(:playlist_comment, :url =>'comment/playlist/create/'+@playlist.id.to_s+'.js') do |form| %>
  <p>
    <label for="text">Leave A Comment:</label></br>
    <%= form.text_area(:text,:cols=>"60", :rows=>"2") %>
    <%= submit_tag "Post" %>
  </p>
<% end %>
<ul>
<div id="playlist_comments">
<% if not @comments.nil? %>
  <% @comments.each do |comment| %>
    <%= render(:partial => '/playlist_comment/comment', :object => comment) %>
  <% end %>
<%end%>
 </ul>
</div>
