<h1>New Comment on "<%=h @song.name %>"</h1>

<% form_remote_for(@song_comment, :url => "/comment/song/create/#{@song.id.to_s}", :update=>'main_content')  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Comment %><br />
    <%= f.text_field :text %>
  </p>
  
<p>
    <%= f.submit 'Post' %>
  </p>
<% end %>

<%= link_to_remote 'Back', :url=>songs_path, :update=>'main_content' %>
