<h1>New Comment on "<%=h @song.name %>"</h1>

<% form_for(@song_comment, :url => "/comment/song/create/#{@song.id.to_s}")  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Comment %><br />
    <%= f.text_field :text %>
  </p>
  
<p>
    <%= f.submit 'Post' %>
  </p>
<% end %>

<%= link_to 'Back', songs_path %>
