<h2>Rate "<%=h @playlist.name %>"</h2>
<div class="lightbox_content">
<% form_remote_for(@playlist_rating, :url => "/rating/playlist/create/#{@playlist.id.to_s}", :update=>"lbContent")  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Rating %><br />
    <%= f.select :rating, options_for_select([["1",1],["2",2],["3",3],["4",4],["5",5]]) %>
  </p>
  
<p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
</div>
<div class="lightbox_base"><a href="#" class="lbAction button" rel="deactivate" onClick="$('overlay').style.display = 'none'; $('lightbox').style.display = 'none';
; Element.remove($('lbContent')); return false;"><span>Close</span></a></div>