<html>
<head>
  <%= stylesheet_link_tag 'general' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= javascript_include_tag 'ajaxify', 'application' %>
  <%= javascript_include_tag 'jwplayer', 'application' %>

  <script type="text/javascript">   $(document).ready(function() {    $('.ajaxify').ajaxify(); });</script>

</head>
<body>
<div id="main">
	<div id="app_header">
		<%= image_tag "logo.gif", :align=>"left" %>
		<div id="login_links">
			<% if current_user %>
			        <%= link_to "Home", account_path %> |
				<%= link_to "Edit Profile", edit_user_path(:current), :class => 'ajaxify' %> |
				<%= link_to "Logout", logout_path, :class => 'ajaxify' %>
			<% else %>
				<%= link_to "Register", new_user_path, :class => 'ajaxify' %> |
				<%= link_to "Login", login_path, :class => 'ajaxify' %>
			<% end %>
		</div>
	</div>
	
	<div id="nav">
		<ul>
			<li>
				<%= link_to "Popular Songs", popular_songs_path(), :class => 'ajaxify' %>
			</li>
			<li>
				<%= link_to "Popular Playlists", popular_playlists_path(), :class => 'ajaxify' %>
			</li>
			<% if current_user %>
				<li>
					<%= link_to "My Songs", my_songs_path(), :class => 'ajaxify' %>
				</li>
				<li>
					<%= link_to "My Playlists", my_playlists_path(), :class => 'ajaxify' %>
				</li>
			<% end %>
			<li>
				<%= link_to "Browse", browse_path(), :class => 'ajaxify' %>
			</li>
		</ul>
	</div>
	
	<div id="main_content">
		<%=yield%>
	</div>
	
</div>

<div id="persistent_player">
  <object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="328" height="200"> 
    <param name="movie" value="player.swf" /> 
    <param name="allowfullscreen" value="true" /> 
    <param name="allowscriptaccess" value="always" /> 
    <param name="flashvars" value="" /> 
    <embed 
       type="application/x-shockwave-flash"
       id="player2"
       name="player2"
       src="jwplayer/player.swf" 
       width="800" 
       height="20"
       allowscriptaccess="always" 
       allowfullscreen="true"
       /> 
  </object>
</div>

</body>
</html>
